:root {
    --modal-animation-time: 0.3s;
    --color-1: #2B394F;
    --color-2: #727C8E;
    --color-3: #CBD7E7;
    --color-4: #7B736B;
    --color-4-dark: #463E35;
    --color-5: #938A7F;
    --color-5-dark: #68635D;
    --color-6: #B9B0A4;
    --color-6-dark: #A89C8D;
    --color-7: #D6D0C4;
    --color-8: #F9F8F3;
    --color-8-dark: #FCFBF9;
    --color-9: #F9F8F3;
    --bg-light: #D9D6D0;
    --bg-light-60: #d9d6d08c;
    --bg-alpha-48: #3d383381;
    --bg-alpha-60: #3D38333D;
    --libe: #E4E2DF;
    --white: #FFFFFF;
    --text: #2B2825;
    --text-2: #6F6A63;
    --text-3: #C6C6C6;
    --success: #03C04F;
    --success-dark: #038737;
    --warning: #DF9300;
    --warning-dark: #a97200;
    --error: #D86230;
    --error-dark: #a04824;
    --font-main: "Nunito", sans-serif;
}