<div class="inner">
    <img class="form-image" src="{{ assets }}/assets/images/checkout/confirm.webp">
    <h2 class="section-title">Спасибо за заявку</h2>
    <p class="form-text end">Мы свяжемся с Вами в ближайшее время</p>
    <a class="btn btn-primary" btn-forms-close>Закрыть</a>
</div>