.advantages {
    padding-top: 6em;
    padding-bottom: 3em;

    @media screen and (min-width: 600px) {
        &-inner .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2.2em;
        }
    }

    &-item_img {
        width: 3.5em;
    }

    &-item_title {
        margin-top: 0.5em;
        font-size: 1.3rem;
    }

    &-item_text {
        color: var(--color-5-dark);
        margin-top: 1em;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .advantages {
        padding-top: 3em;
    }
}