.beAware {
    margin: 3em 0;

    &-block {
        &__title {
            font-size: 2rem;
            color: var(--text);
        }
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        padding: 1em 3em;
        border-radius: 1em;
    }

    &-form {
        display: flex;
        align-items: center;
        gap: 1em;
        flex-grow: 1;
        justify-content: end;

        &__block {
            display: block;

            .input-block {
                width: unset;
            }

            input {
                max-width: 100%;
            }
        }
    }

    &-btn {
        align-self: baseline;

        button {
            padding: 0.8em 1.5em;
        }
    }
}