.gift-cards {
    margin-top: 6em;
    margin-bottom: 3em;

    &-inner {
        display: grid;
        grid-template-columns: 1.7fr 1fr 0.7fr;
        align-items: center;
        background-color: var(--white);
        padding: 0 3em;
        border-radius: 1em;

        &_block {
            &-title {
                font-size: 2em;
                font-weight: 500;
                color: var(--color-4-dark);
            }

            &-text {
                font-size: 1.2em;
                font-weight: 500;
                line-height: 1.4;
                color: var(--color-5-dark);
                margin-top: 0.6em;
            }
        }

        &_btn {
            a {
                margin-left: auto;
                display: block;
                width: fit-content;
            }
        }
    }
}
