.gift-cards {
    margin-top: 6em;
    margin-bottom: 3em;

    &-inner {
        display: grid;
        grid-template-columns: 1.7fr 1fr 0.7fr;
        align-items: center;
        background-color: var(--white);
        padding: 0 3em;
        border-radius: 1em;

        &_block {
            &-title {
                font-size: 2em;
                font-weight: 500;
                color: var(--color-4-dark);
            }

            &-text {
                font-size: 1.2em;
                font-weight: 500;
                line-height: 1.4;
                color: var(--color-5-dark);
                margin-top: 0.6em;
            }
        }

        &_btn {
            a {
                margin-left: auto;
                display: block;
                width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .gift-cards-inner_block {
        grid-area: gift-block;
    }
    .gift-cards-inner_btn {
        grid-area: gift-btn;
    }
    .gift-cards-inner_img {
        grid-area: gift-img;

        img {
            transform: scale(1.1);
        }
    }
    .gift-cards-inner {
        grid-template-columns: 1fr;
        grid-template-areas: "gift-block"
                             "gift-btn"
                             "gift-img";
        gap: 1em;
        padding: 2em;
    }
    .gift-cards-inner_block-title {
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }
    .gift-cards-inner_btn .btn {
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .gift-cards {
        margin-top: 4em;
    }
}
