.main_slider-inner {
    overflow-x: hidden;

    .dotted {
        position: relative;
        top: -3.5em;
        z-index: 2;
        gap: 0.6em;

        .colorPoint-outer {
            cursor: pointer;
            width: 12px;
            height: 12px;
            background-color: transparent;
            border: 1px solid var(--white);
        }

        .colorPoint-inner {
            width: 7px;
            height: 7px;
            background-color: transparent;
        }

        .swiper-pagination-bullet-active .colorPoint-inner {
            background-color: var(--white);
        }
    }
}


