.menuModal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-8-dark);
    z-index: 3;
    overflow-y: auto;
    padding-bottom: 5em;

    &-nav {
        padding: 1em;

        &__item + &__item {
            margin-top: 1em;
        }
    }

    &-footer {
        font-size: 0.9rem;
        color: var(--color-5-dark);

        &__phone, &__call {
            display: block;
            width: fit-content;
        }

        &__call {
            margin-top: 0.2em;
            border-bottom: 1px dashed var(--color-5-dark);
        }

        &__list {
            margin-top: 1em;
            line-height: 1.4;
        }

        &__mail {
            display: block;
            width: fit-content;
            margin-top: 0.8em;
        }

        &__messages {
            margin-top: 1em;
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }
}

.menuModal-footer {
    background-color: var(--bg-light);
    padding: 1em;
}

.menuModal.active {
    display: block;
}

.dropdownMenuMobil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--color-8-dark);
    z-index: 3;
    padding: 2em;
    overflow-y: auto;
    padding-bottom: 6em;

    &-title {
        font-size: 1.4rem;
    }

    &-cross {
        width: 2em;
        height: 2em;
        fill: var(--color-6-dark);
        position: absolute;
        top: 1.9em;
        right: 2em;
        padding: 0.3em;
        border-radius: 50%;
        border: 1px solid var(--libe);
    }

    &-nav {
        margin-top: 0.8em;
    }

    &-item {

    }

    &-item.hidden {
        display: none;
    }

    &-link {
        display: flex;
        font-size: 1.1rem;
        padding: 0.8em 0;
        justify-content: space-between;
        align-items: center;
    }

    &-svg {
        width: 1.1rem;
        height: 1.1rem;
        fill: none;
        stroke: var(--color-4-dark);
    }

    &-svg.back {
        transform: rotate(180deg);
        display: none;
    }

    &-item + &-item {
        border-top: 1px solid var(--libe);
    }

    &-children {
        display: none;

        &__all {
            font-size: 0.9rem;
            color: var(--color-5-dark);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8em 0;
        }

        &__svg {
            width: 1.1rem;
            height: 1.1rem;
            fill: none;
            stroke: var(--color-5-dark);
        }

        &__item {
            border-bottom: 1px solid var(--libe);
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.8em 0;
            font-size: 1.1rem;
        }

        //&__list {
        //    display: none;
        //}
    }

    &-grandChildren {
        display: none;

        &__list {
            display: none;
            padding-left: 1em;
            padding-bottom: 0.8em;
        }

        &__item {

        }

        &__item + &__item {
            margin-top: 1em;
        }

        &__link {
            color: var(--color-5-dark);
            font-size: 0.9rem;
        }

        &__svg {
            width: 1.1rem;
            height: 1.1rem;
            fill: none;
            stroke: var(--color-5-dark);
            transform: rotate(90deg);
        }
    }

    &-giftCard {
        margin-top: 1em;
        background-color: var(--white);
        border-radius: 0.4em;
        padding: 1.5em;
        position: relative;

        &__title {
            font-size: 1.2rem;
        }

        &__text {
            margin-top: 0.8em;
            line-height: 1.4;
            font-size: 0.9rem;
            color: var(--color-6-dark);
            padding-right: 3em;
        }

        &__img {
            position: absolute;
            width: 4em;
            bottom: 0;
            right: 0;
        }
    }
}

.dropdownMenuMobil.active {
    display: block;
}

.dropdownMenuMobil-item.active .dropdownMenuMobil-link {
    justify-content: start;
    gap: 0.5em;
}

.dropdownMenuMobil-item.active .dropdownMenuMobil-svg.back {
    display: block;
}

.dropdownMenuMobil-item.active .dropdownMenuMobil-svg.next {
    display: none;
}

.dropdownMenuMobil-item.active .dropdownMenuMobil-children {
    display: block;
}

.dropdownMenuMobil-item.active .dropdownMenuMobil-children {
    display: block;
}

.dropdownMenuMobil-children__item.active .dropdownMenuMobil-grandChildren__list {
    display: block;
}

.dropdownMenuMobil-children__item.active .dropdownMenuMobil-grandChildren__svg {
    transform: rotate(-90deg);
}