.products_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em 1em;
    margin-bottom: 1em;

    &-item {
        position: relative;
        display: block;

        .zoom-container {
            border-radius: 0.4em;
        }
    }

    &-block {
        img {
            aspect-ratio: 392 / 295;
            object-fit: cover;
            object-position: center;
        }
    }

    &-bages {
        position: absolute;
        top: 1em;
        left: 1em;
        display: flex;
        gap: 0.5em;
        width: fit-content;

        &--item {
            background-color: #3D38337A;
            color: var(--color-9);
            padding: 0.2em 0.5em;
            border-radius: 0.3em;
            line-height: 1;
            font-size: 1rem;
        }
    }

    &-wishlist {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
    }

    &-wishlist.inWishlist svg {
        fill: var(--white);
    }

    &-price {
        margin-top: 0.8em;

        .price-new {
            font-weight: 600;
            font-size: 1.1rem;
        }

        .price-old {
            color: var(--color-6-dark);
            text-decoration: line-through;
            text-decoration-thickness: 0.2px;
        }

        .price-percent {
            color: var(--color-6-dark);
            border-radius: 0.3em;
            border: 1px solid var(--libe);
            padding: 0 0.5em;
        }

        span + span {
            margin-left: 0.2em;
        }
    }

    &-title {
        font-size: 1.1rem;
        color: var(--color-5-dark);
        line-height: 1.4;
        margin-top: 0.8em;
    }

    &__colors {
        display: flex;
        gap: 0.25em;
        align-items: center;
        background-color: var(--white);
        border-radius: 20em;
        width: fit-content;
        position: absolute;
        left: 1em;
        bottom: 1em;
        padding: 0.3em 0.5em;

        .colorPoint-outer {
            border: 1px solid transparent;
            width: 16px;
            height: 16px;
        }

        .colorPoint-inner {
            width: 12px;
            height: 12px;
        }

        .colorPoint-outer.active {
            border: 1px solid var(--color-4-dark);
        }

        &--add {
            color: var(--color-6-dark);
            font-size: 0.8rem;
            line-height: 1;
            position: relative;
            top: 0.05em;
        }
    }
}

.products_grid.line {
    grid-template-columns: 1fr;
    gap: 1em;

    .products_grid-thumb {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

.product-marks {
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    top: 1em;
    left: 1em;
}

.product-mark {
    background-color: #3D38337A;
    color: var(--color-9);
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
}