.catalog {
    padding-top: 3em;
    padding-bottom: 3em;

    &-inner {
        &_grid {
            margin-top: 2em;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 0.8em;
        }

        &_link {
            .zoom-container {
                border-radius: 0.4em;
            }

            &-title {
                font-size: 1.3rem;
                text-align: center;
                margin-top: 0.5em;
            }

            &:hover {
                h4 {
                    color: var(--color-6-dark);
                }
            }

            img {
                aspect-ratio: 256 / 194;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .catalog-inner_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}