.catalog {
  padding-top: 3em;
  padding-bottom: 3em;
  &-inner {
    &_grid {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.8em;
    }
    &_link {
      &-img {
        width: 100%;
      }
      &-title {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--color);
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }
}