.sitemap {
    padding-bottom: 6em;

    h1 {
        margin-bottom: 1em;
    }

    &-inner {

        &__item {
            font-size: 1.1rem;
        }

        &__item + &__item {
            margin-top: 0.6em;
        }

        &__link {
            font-size: 1.1rem;
        }

        &__list--lvl2 {
            padding-left: 3em;
            padding-top: 0.6em;
        }

        &__item--lvl2 + &__item--lvl2 {
            margin-top: 0.6em;
        }

        &__link--lvl2 {
            font-size: 1.1rem;
        }

        &__list--lvl3 {
            padding-left: 3em;
            padding-top: 0.6em;
        }

        &__item--lvl3 + &__item--lvl3 {
            margin-top: 0.6em;
        }

        &__link--lvl3 {
            font-size: 1.1rem;
        }
    }
}