//.slider
//    max-width: 560px
//    &__item
//        img
//            width: 100%
//            height: 200px
//            object-fit: cover
//    .dotted
//        margin-top: 30px

.slider__arrow--prev, .slider__arrow--next {
    width: 2.2rem;
    height: 2.2rem;
    background: #3D38337A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        width: 1.2em;
        height: 1.2em;
        stroke: var(--white);
        fill: none;
    }
}

.slider__arrow--prev svg {
    transform: rotate(180deg);
}

.slider__arrow--prev.swiper-button-disabled, .slider__arrow--next.swiper-button-disabled {
    display: none;
}

.dotted {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 0.5em;
    z-index: 2;
    fill: transparent;
    margin-top: 1em;
}

.custom-bullet {
    cursor: pointer;
}

.custom-bullet_svg {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.2em solid var(--color-4-dark);
}

.custom-bullet_svg:hover, .swiper-pagination-bullet-active {
    fill: var(--color-4-dark);
}

