.usefulFromBlog {
    padding: 3em 0;

    &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-link {
        flex-shrink: 0;
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--color-6-dark);

        a {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        svg {
            width: 1.2rem;
            height: 1.2rem;
            fill: none;
            stroke: var(--color-6-dark);
        }
    }

    &-blogs {
        margin-top: 1em;
    }

    &-link--mobil {
        display: none;
        border-radius: 0.4em;
        border: 1px solid var(--libe);
        padding: 1em 0;
        text-align: center;
        margin-top: 1em;
        color: var(--color-6-dark);

        a {
            justify-content: center;
            display: flex;
            align-items: center;
            gap: 0.5em;

            span {
                font-weight: 500;
                font-size: 1.2rem;
                color: var(--color-6-dark);
            }

            svg {
                width: 1.2rem;
                height: 1.2rem;
                fill: none;
                stroke: var(--color-6-dark);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .usefulFromBlog {
        padding-top: 2em;
    }
    .usefulFromBlog-link {
        display: none;
    }
    .usefulFromBlog {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5em 1em;
        }

        .swiper-wrapper :nth-child(n+5) {
            display: none;
        }
    }
    .usefulFromBlog-link--mobil {
        display: block;
    }
}
