<div id="login-modal">
    <div class="login-inner" data-change-form>
        <form data-change-password-form>
            <h2 class="section-title login-inner__title">Забыли пароль?</h2>
            <div class="login-inner__inputs">
                <div class="login-inner__input input-block required">
                    <input class="input-text" name="email" type="email" placeholder="E-mail">
                    <label>E-mail</label>
                    <div class="error-email text-danger"></div>
                </div>
            </div>
            <button class="btn btn-primary login-inner__btn" type="submit">Сбросить пароль</button>
            <div class="login-inner__back">
                <a class="login-inner__back--link" data-login-btn>
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/sprite.svg#icon_arrow_top"></use>
                    </svg>
                    <span>Назад</span>
                </a>
            </div>
        </form>
    </div>
</div>