/*----------глобальные настройки-----------*/
:root {
	font-size: 1rem;
  
	--color-1: #2B394F;
	--color-2: #727C8E;
	--color-3: #CBD7E7;
	--color-4: #7B736B;
	--color-4-dark: #463E35;
	--color-5: #938A7F;
	--color-5-dark: #68635D;
	--color-6: #B9B0A4;
	--color-6-dark: #A89C8D;
	--color-7: #D6D0C4;
	--color-8: #F9F8F3;
	--color-8-dark: #FCFBF9;
	--color-9: #F9F8F3;
	--bg-light: #D9D6D0;
	--bg-light-60: #d9d6d09f;
	--bg-alpha-48: #3d383381;
	--libe: #E4E2DF;
	--white: #FFFFFF;
	
	--font-main: "Nunito", sans-serif;
  
	scroll-behavior: smooth;
  }
  a,
  img,
  div,
  ul,
  li,
  p,
  img,
  svg,
  button {
	transition: 0.3s ease;
  }
  a {
	text-decoration: none;
  }
  a:focus {
	text-decoration: none;
  }
  a:hover {
	color: var(--blue);
	text-decoration: none;
  }
  a:active {
	color: var(--black);
  }
  
  * {
	box-sizing: border-box;
  }
  
  input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.2em;
	width: 1.3em;
	height: 1.3em;
	border: 1px solid var(--border);
	transition: 0.2s all linear;
	outline: none;
	margin-right: 0.35em;
	position: relative !important;
	top: 0.2em;
	cursor: pointer;
	font-size: 1rem;
  }
  input:checked[type="radio"] {
	/* border: 0.25em solid var(--color-1);
	font-size: 1rem; */
  
	border: 1px solid var(--black);
	background-image: url("../../../../../image/icon_checkbox_black.png");
	background-repeat: no-repeat;
	background-size: cover;
  }
  /*input[type="text"],*/
  /*input[type="password"], input[type="email"], input[type="tel"], input[type="date"]  {*/
	/*box-shadow: none;*/
	/*-webkit-box-shadow: none;*/
	/*border: none;*/
	/*-webkit-border: none;*/
	/*border-bottom: 1px solid var(--black);*/
	/*-webkit-border-bottom: 1px solid var(--black);*/
	/*padding-bottom: 0.5em;*/
	/*color: var(--black);*/
	/*font-size: 1rem;*/
	/*-webkit-background-color: transparent;*/
	/*background-color: transparent;*/
	/*font-family: var(--font-third);*/
  /*}*/
  /*input[type="text"]:hover,*/
  /*input[type="password"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="date"]:hover  {*/
	/*box-shadow: none;*/
	/*-webkit-box-shadow: none;*/
	/*border: none;*/
	/*-webkit-border: none;*/
	/*border-bottom: 1px solid var(--black);*/
	/*-webkit-border-bottom: 1px solid var(--black);*/
	/*-webkit-background-color: transparent;*/
	/*background-color: transparent;*/
	/*font-family: var(--font-third);*/
  /*}*/
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
	color: var(--black);
	font-family: var(--font-third);
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--black);
	font-family: var(--font-third);
  }
  input[type="text"]:focus::placeholder,
  input[type="password"]:focus::placeholder {
	color: var(--border);
	font-family: var(--font-third);
  }
  /*input[type="checkbox"] {*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*appearance: none;*/
	/*border-radius: 0.3em;*/
	/*width: 2em;*/
	/*height: 2em;*/
	/*border: 1px solid var(--color-2);*/
	/*transition: 0.2s all linear;*/
	/*outline: none;*/
	/*margin: 0;*/
	/*position: relative;*/
	/*top: 0.2em;*/
	/*cursor: pointer;*/
  /*}*/
  /*input:checked[type="checkbox"] {*/
	/*!* background-color: var(--color-1); *!*/
	/*background-image: url("../../../../../image/icon_checkbox_black.png");*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
  /*}*/
  select {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--black);
	padding-bottom: 0.5em;
	color: var(--black);
	font-size: 1rem;
	background-color: transparent;
  }
  .link {
	color: var(--color-1);
  }
  .link:hover {
	color: var(--color-1-light);
  }
  /* input:checked[type="checkbox"]::after {
	position: absolute; */
	/* content: "✔"; */
	/* background-image: url("../../../../../image/icon_checkbox.png"); */
	/* color: var(--white);
	right: -0.05em;
	top: -0.05em;
	font-size: 1.2rem;
	line-height: 1;
	display: block;
  } */
  
  body {
	font-family: var(--font-main);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: var(--black);
	margin: 0;
  }
  * {
	outline: none !important;
  }
  /* .body input {
	  border-radius: 0;
  } */
  .container {
	padding-right: 20px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
  }
  /* .form-control {
	border: 1px solid var(--black) !important;
	box-shadow: none !important;
	font-size: 0.85rem;
	background-color: var(--white);
	cursor: pointer;
	color: var(--black);
	font-weight: 500;
	height: 2.8em;
	border-radius: 0;
	color: var(--black);
  }
  .form-control::placeholder {
	color: var(--text);
	font-weight: 400;
	font-size: 1rem;
  }
  .form-control:focus {
	border: 1px solid var(--black) !important;
	box-shadow: none !important;
  }
  .form-control:hover {
	border: 1px solid var(--color-1) !important;
	box-shadow: none !important;
  }
  .form-control:active {
	border: 1px solid var(--color-1) !important;
	box-shadow: none !important;
  } */
  /* @media (min-width: 400px) {
	  .container {
		  padding-right: 50px;
		  padding-left: 50px;
	  }
  } */
  /* @media (min-width: 1490px) {
	  .container {
		  width: 1440px;
	  }
  }
  @media (min-width: 1970px) {
	  .container {
		  width: 1920px;
	  }
  } */
  @media (min-width: 1590px) {
	.container {
	  width: 1550px;
	}
  }
  /* @media (min-width: 2540px) {
	  :root {
		  font-size: 1.7rem;
	  }
  }
  @media (max-width: 2540px) {
	  :root {
		  font-size: 1.65rem;
	  }
  }
  @media (max-width: 2490px) {
	  :root {
		  font-size: 1.6rem;
	  }
  }
  @media (max-width: 2440px) {
	  :root {
		  font-size: 1.55rem;
	  }
  }
  @media (max-width: 2390px) {
	  :root {
		  font-size: 1.5rem;
	  }
  }
  @media (max-width: 2340px) {
	  :root {
		  font-size: 1.45rem;
	  }
  }
  @media (max-width: 2290px) {
	  :root {
		  font-size: 1.4rem;
	  }
  }
  @media (max-width: 2240px) {
	  :root {
		  font-size: 1.35rem;
	  }
  }
  @media (max-width: 1990px) {
	  :root {
		  font-size: 1.3rem;
	  }
  }
  @media (max-width: 1940px) {
	  :root {
		  font-size: 1.25rem;
	  }
  }
  @media (max-width: 1890px) {
	  :root {
		  font-size: 1.2rem;
	  }
  }
  @media (max-width: 1840px) {
	  :root {
		  font-size: 1.15rem;
	  }
  }
  @media (max-width: 1790px) {
	  :root {
		  font-size: 1.12rem;
	  }
  }
  @media (max-width: 1740px) {
	  :root {
		  font-size: 1.09rem;
	  }
  }
  @media (max-width: 1690px) {
	  :root {
		  font-size: 1.06rem;
	  }
  }
  @media (max-width: 1640px) {
	  :root {
		  font-size: 1.03rem;
	  }
  }
  */
  @media (max-width: 1590px) {
	  :root {
		  font-size: 1.0rem;
	  }
  }
  @media (max-width: 1540px) {
	  :root {
		  font-size: 0.97rem;
	  }
  }
  @media (max-width: 1490px) {
	  :root {
		  font-size: 0.93rem;
	  }
  }
  @media (max-width: 1440px) {
	:root {
	  font-size: 0.9rem;
	}
  }
  @media (max-width: 1390px) {
	:root {
	  font-size: 0.87rem;
	}
  }
  @media (max-width: 1340px) {
	:root {
	  font-size: 0.84rem;
	}
  }
  @media (max-width: 1290px) {
	:root {
	  font-size: 0.81rem;
	}
  }
  @media (max-width: 1240px) {
	:root {
	  font-size: 0.78rem;
	}
  }
  @media (max-width: 1190px) {
	:root {
	  font-size: 0.75rem;
	}
  }
  @media (max-width: 1140px) {
	:root {
	  font-size: 0.72rem;
	}
  }
  @media (max-width: 1090px) {
	:root {
	  font-size: 0.69rem;
	}
  }
  @media (max-width: 1040px) {
	:root {
	  font-size: 0.66rem;
	}
  }
  @media (max-width: 992px) {
	:root {
	  font-size: 0.63rem;
	}
  }
  @media (max-width: 950px) {
	:root {
	  font-size: 0.6rem;
	}
  }
  @media (max-width: 940px) {
	:root {
	  font-size: 0.57rem;
	}
  }
  @media (max-width: 890px) {
	:root {
	  font-size: 0.53rem;
	}
  }
  @media (max-width: 840px) {
	:root {
	  font-size: 0.5rem;
	}
  }
  @media (max-width: 790px) {
	:root {
	  font-size: 0.47rem;
	}
  }
  @media (max-width: 767px) {
	:root {
	  font-size: 1rem;
	}
  }
  @media (max-width: 700px) {
	:root {
	  font-size: 0.97rem;
	}
  }
  @media (max-width: 650px) {
	:root {
	  font-size: 0.93rem;
	}
  }
  @media (max-width: 600px) {
	:root {
	  font-size: 0.89rem;
	}
  }
  @media (max-width: 550px) {
	:root {
	  font-size: 0.85rem;
	}
  }
  @media (max-width: 500px) {
	:root {
	  font-size: 0.81rem;
	}
  }
  /*-----------------------------------конец глобальных настроек-----------------------------------*/

/*header stat code*/
.header-top {
	background-color: var(--bg-light-60);
	color: var(--color-5-dark);
	font-weight: 500;
	padding: 0.5em 0;
}
.header-top_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-top_info {
	display: flex;
	gap: 2em;
	align-items: center;
}
.header-top_info-email {
	color: var(--color-5-dark);
	font-weight: 500;
}
.header-top_info-mode {
	display: flex;
	gap: 1em;
	align-items: center;
}
.header-top_info-mode p {
	margin-top: 0;
	margin-bottom: 0;
}
.header-top_about {
	display: flex;
	gap: 2em;
	align-items: center;
}
.header-top_messengers {
	display: flex;
	gap: 1em;
}
.header-top_messengers a {
	display: flex;
	align-items: center;
}
.icon-svg {
	width: 1.2em;
	height: 1.2em;
	fill: var(--color-5-dark);
}
.header-top_block {
	display: flex;
	gap: 1em;
}
.header-top_block-phone, .header-top_block-order {
	color: var(--color-5-dark);
	font-weight: 500;
}
/* .header-top_block-order {
	position: relative;
	padding-bottom: 0.2em;
} */
.header-top_block-order {
	position: relative;
}
.header-top_block-order::after {
	content: '';
	position: absolute;
	display: block;
	bottom: -0.2em;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed var(--color-5-dark);
}
.header-bottom_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}
.header-bottom_block-logo img {
	width: 14em;
}
.header-bottom_block-catalog span {
	line-height: 1.4;
}
.header-bottom_block-catalog_btn {
	background-color: var(--color-4-dark);
	display: flex;
	gap: 0.5em;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	color: var(--color-9);
	cursor: pointer;
}
.header-bottom_block-catalog_btn svg {
	fill: var(--color-9);
	width: 1.4em;
	height: 1.4em;
}
.header-bottom_block-catalog_btn .cross {
	display: none;
}
.header-bottom_block-catalog_btn:hover .cross {
	display: block;
}
.header-bottom_block-catalog_btn:hover .burger {
	display: none;
}
.header-bottom_block {
	display: flex;
	align-items: center;
	gap: 2em;
}
.header-bottom_navigation_list {
	display: flex;
	gap: 1em;
	align-items: center;
	padding-left: 0;
	list-style-type: none;
}
.header-bottom_navigation_list-item a {
	color: var(--color-4-dark);
	font-weight: 500;
}
.header-bottom_about-list {
	display: flex;
	gap: 1em;
	align-items: center;
	padding-left: 0;
}
.header-bottom_about-list li {
	list-style-type: none;
}
.icon-svg-stroke {
	width: 1.5em;
	height: 1.5em;
	fill: none;
	stroke: var(--color-4-dark);
}
.icon-svg-stroke:hover {
	transition: ease 0.3s;
	fill: var(--color-4-dark);
}
#cart > button {
	padding: 0;
	margin: 0;
	border: 0;
}
.header-bottom_about-list_wishlist {
	position: relative;
}
.header-bottom_about-list_wishlist span {
	position: absolute;
	top: 0.1em;
	right: -0.7em;
	color: var(--white);
	background-color: var(--color-4-dark);
	width: 1.5em;
	height: 1.5em;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 0.75rem;
}
#cart > a {
	position: relative;
}
#cart #cart-total {
	position: absolute;
	top: 0.2em;
	right: -0.7em;
	color: var(--white);
	background-color: var(--color-4-dark);
	width: 1.5em;
	height: 1.5em;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 0.75rem;
}
/*header end code*/

/*slider on main page start code*/
.main_slider-inner {
	overflow-x: hidden;
}
.custom-bullet {
	cursor: pointer;
}
.main_slider-pagination {
	display: flex;
	justify-content: center;
	position: relative;
	top: -2em;
	gap: 0.3em;
	z-index: 2;
	fill: transparent;
}
.main_slider-pagination_svg {
	width: 0.7em;
	height: 0.7em;
}
.main_slider-pagination_svg:hover, .swiper-pagination-bullet-active {
	fill: var(--color-8);
}
/*slider on main page end code*/

/*main desktop menu start code*/
.header-bottom_block-catalog_modal {
	display: none;
	background-color: var(--bg-alpha-48);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.header-bottom_block-catalog_modal.open {
	display: block;
}
.header-bottom_block-catalog_bg {
	background-color: var(--color-8-dark);
}
.header-bottom_block-catalog_modal-inner {
	display: grid;
	grid-template-columns: 0.5fr 1.2fr 0.5fr;
	padding-top: 2em;
	padding-bottom: 2.5em;
}
.header-bottom_block-catalog_categories .dropdown-menu {
	display: none;
}
.header-bottom_block-catalog_categories .menu-item + .menu-item {
	margin-top: 1em;
}
.header-bottom_block-catalog_categories .menu-item {
	font-weight: 500;
	color: var(--color-6-dark);
	font-size: 1.2rem;
}
.header-bottom_block-catalog_categories .menu-item:hover {
	color: var(--color-4-dark);
}
.header-bottom_block-catalog_info {
	display: flex;
	align-items: center;
}
.header-bottom_block-catalog_info-inner {
	background-color: var(--white);
	height: fit-content;
	width: fit-content;
	border-radius: 0.8em;
	padding: 2em;
}
.header-bottom_block-catalog_about {
	padding-left: 2em;
	border-left: 1px solid var(--libe);
	margin-right: 2em;
}
.header-bottom_block-catalog_about-link {
	display: flex;
	align-items: center;
	gap: 1em;
}
.header-bottom_block-catalog_about-text {
	color: var(--color-6-dark);
	font-weight: 500;
	font-size: 1.1rem;
}
.svg-arrow {
	fill: none;
	stroke: var(--color-6-dark);
}
.header-bottom_block-catalog_about .svg-arrow {
	width: 1.2em;
	height: 1.2em;
}
.header-bottom_block-catalog_about-inner .dropdown-menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 2em;
}
.dropdown-menu-title {
	color: var(--color-4-dark);
	font-weight: 500;
	font-size: 1.3rem;
}
.dropdown-menu-list {
	margin-top: 2em;
}
.dropdown-menu-item {
	color: var(--color-5-dark);
	font-size: 1.1rem;
	font-weight: 500;
}
.dropdown-menu-item + .dropdown-menu-item {
	margin-top: 1em;
}
/*main desktop menu end code*/