.blogs {
    h1 {
        margin-bottom: 0.8em;
    }

    padding-bottom: 6em;

    &-inner {
        &__tabs {
            &--list {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--libe);
                border-radius: 0.3em;
            }

            &--item {
                padding: 1em 3em;
            }

            &--item.right {
                text-align: end;
            }

            &--item.middle {
                border-left: 1px solid var(--libe);
                border-right: 1px solid var(--libe);
            }

            &--item.left {
                text-align: start;
            }

            &--link {
                color: var(--color-6-dark);
                font-size: 1.1em;
                cursor: pointer;
            }

            &--link.active {
                color: var(--color-4-dark);
            }
        }
    }

    &-site {
        &__item {
            position: relative;
        }

        &__list {
            margin-top: 3em;
        }

        &__image {
            position: relative;
            border-radius: 0.5em;
            overflow: hidden;
        }

        &__theme {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: var(--color-9);
            background: #3D38333D;
            padding: 0.6em 0;
            font-size: 1.5rem;
        }

        &__date {
            font-size: 1rem;
            color: var(--color-6-dark);
            margin-top: 0.5em;
        }

        &__title {
            font-size: 1.1rem;
            margin-top: 0.5em;
            line-height: 1.4;
        }
    }
}

.blog {
    padding-bottom: 6em;

    h1 {
        margin-bottom: 1em;
        max-width: 60em;
    }

    &-inner {
        max-width: 60em;
        margin-left: auto;
        margin-right: auto;
    }

    &-image {
        img {
            width: 100%;
        }
    }

    &-about {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        color: var(--color-6-dark);
    }

    &-main {
        margin-top: 2em;

        &__title {
            font-size: 2.2rem;
            color: var(--text);
        }

        &__description {
            margin-top: 1em !important;
            color: var(--color-5-dark) !important;
            font-weight: 600 !important;
            font-size: 1.1rem !important;
            line-height: 1.4 !important;
            font-family: var(--font-main) !important;
        }
    }

    &-expert {
        background-color: var(--white);
        padding: 1.5em 2em;
        border-radius: 0.5em;
        margin-top: 4em;

        &__title {
            font-size: 2rem;
            color: var(--text);
        }

        &__text {
            margin-top: 1em;
            color: var(--color-6-dark);
            font-size: 1.1rem;
            line-height: 1.4;
            font-style: italic;
            font-family: Arial;
        }

        &__name {
            margin-top: 1em;
            display: flex;
            gap: 0.7em;
            align-items: center;
            font-size: 1.1rem;
        }

        &__shortName {
            background-color: var(--bg-light);
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }

    &-slider {
        padding: 3em 0;

        &__items {
            margin-top: 1em;
        }
    }

    &-video {
        padding: 3em 0;

        &__title {
            font-size: 2rem;
        }

        &__content {
            margin-top: 1em;

            video {
                border-radius: 0.4em;
            }
        }
    }

    &-similar {
        padding: 3em 0;

        &__slider {
            margin-top: 1em;
        }
    }
}

.sliderBlog {
    position: relative;
}

.sliderBlog-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

.sliderBlog-list {
    display: flex;
    justify-content: space-between;

    li {
        position: relative;
        background-color: var(--white);
        box-shadow: 0px 0px 16px 0px #00000014;
    }

    .slider__arrow--prev {
        left: -1em;
    }

    .slider__arrow--next {
        right: -1em;
    }

    svg {
        stroke: var(--color-4-dark);
    }
}

@media screen and (max-width: 600px) {
    .blog-main__title {
        font-size: 1.5rem;
    }
    .sliderBlog-arrows {
        display: none;
    }
    .beAware {
        margin: 0;
    }
    .beAware-inner {
        display: block;
        padding: 1.5em;
    }
    .beAware-block__title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0.8em;
    }
    .beAware-form {
        display: block;
    }
    .beAware-btn {
        margin-top: 1em;

        .btn {
            max-width: none;
            width: 100%;
            text-align: center;
        }
    }
    .beAware-form__block {
        align-items: start;

        .agree {
            margin-top: 0.3em;
        }
    }
    .beAware-form__block input {
        max-width: none;
    }
}

