.information_id_3 {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-5-dark);
    padding-bottom: 6em;

    h1 {
        margin-bottom: 1.3em;
    }

    h2 {
        color: var(--text);
        margin-top: 1.7em;
    }

    h3, h4, h5, h6 {
        color: var(--color-4-dark);
        margin-top: 1.7em;
    }

    p {
        margin-top: 1.5em;
        line-height: 1.4;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    ul {
        padding-left: 1em;
        line-height: 1.4;
        margin-top: 1em;

        li {
            list-style: disc;
        }

        li + li {
            margin-top: 0.5em;
        }
    }

    ol {
        padding-left: 1em;
        line-height: 1.4;

        span {
            margin-left: -1em;
        }

        li {
            list-style: disc;
        }
    }
}

@media screen and (max-width: 600px) {
    .information_id_3 h2 {
        font-size: 1.6rem;
    }
    .information_id_3 h3 {
        font-size: 1.5rem;
    }
    .information_id_3 h4 {
        font-size: 1.4rem;
    }
    .information_id_3 h5 {
        font-size: 1.2rem;
    }
    .information_id_3 {
        padding-bottom: 3em;
    }
}