.faq {
  padding-bottom: 3em;
  &-notanswer {
    margin-top: 3em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 0.7fr;
    grid-template-columns: 2fr 0.7fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--white);
    padding: 1em 3em;
    border-radius: 1em;
    margin-bottom: 3em;
    &_info {
      &-title {
        font-size: 2em;
        font-weight: 500;
        color: var(--color-4-dark);
      }
      &-text {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.4;
        color: var(--color-5-dark);
        margin-top: 0.6em;
      }
    }
    &_btn {
      a {
        margin-left: auto;
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
      }
    }
  }
}
