.giftCards {
    h1 {
        margin-bottom: 1em;
    }

    padding-bottom: 4em;

    &-steps {
        &__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2em;
        }

        &__item {
            text-align: center;
            font-size: 1.2rem;
            position: relative;
        }

        &__item + &__item::after {
            position: absolute;
            content: '';
            display: block;
            width: 90%;
            height: 1px;
            border-bottom: 1px dashed var(--libe);
            top: 0.5em;
            left: -7.5em;
        }

        &__num {
            color: var(--color-6-dark);
        }

        &__text {
            margin-top: 0.8em;
            color: var(--color-5-dark);
        }
    }

    &-cards {
        padding: 3em 0;

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2em 0.8em;

            img {
                border-radius: 0.6em;
                aspect-ratio: 392 / 295;
                object-fit: cover;
                object-position: center;
            }
        }

        &__price {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0.8em;
            color: var(--color-4-dark);
        }

        &__title {
            font-size: 1.1rem;
            margin-top: 0.8em;
            color: var(--color-5-dark);
        }

        &__btn {
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 600px) {
    .giftCards-steps__list {
        display: block;
    }
    .giftCards-steps__item {
        display: flex;
        align-items: start;
        gap: 1em;
        text-align: left;
    }
    .giftCards-steps__text {
        margin-top: 0;
    }
    .giftCards-steps__item + .giftCards-steps__item {
        margin-top: 0.5em;
    }
    .giftCards-steps__item + .giftCards-steps__item::after {
        display: none;
    }
    .giftCards-cards__list {
        grid-template-columns: 1fr 1fr;
    }
    .giftCards-cards__btn {
        margin-top: 0.3em;
    }
    .giftCards {
        padding-bottom: 1em;
    }
}