.loyalty {
    h1 {
        margin-bottom: 1.2em;
    }

    &_announcement {
        &-inner {
            padding: 2em 0;
            background-color: var(--bg-light-60);
            text-align: center;
            border-radius: 0.3em;
            font-size: 1.3rem;
        }

        &-list {
            li + li {
                margin-top: 0.2em;
            }
        }
    }

    &-answers {
        padding: 4em 0 6em;

        &_list {
            margin-top: 1.5em;
        }
    }
}

@media screen and (max-width: 600px) {
    .loyalty_announcement-inner {
        padding-left: 1.7em;
        padding-right: 1.7em;
    }
}