.accountReset {
    padding-bottom: 6em;

    h1 {
        margin-bottom: 1em;
    }

    &-title {
        margin-bottom: 1em;
        font-size: 1.2rem;
    }

    &-input {
        max-width: 22em;
        width: 100%;

        input {
            max-width: 22em;
        }
    }

    &-input + &-input {
        margin-top: 0.8em;
    }

    &-buttons {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-second {
            margin-top: 0;
        }

        .btn-primary {
            padding: 0.8em 1.5em;
            line-height: 1;
        }
    }
}