.product {
    margin-top: 2em;
    padding-bottom: 4em;
    display: flex;
    --product-gap: 2em;
    gap: var(--product-gap);

    h1 {
        margin-top: 0.5em;
    }

    &-left {
        width: calc(65% - var(--product-gap));
    }

    &-right {
        width: 35%;

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-6-dark);
        }

        &__color {
            margin-top: 0.5em;
        }

        &__sizeTable {
            display: inline-block;
            color: var(--color-6-dark);
            border-bottom: 1px dashed var(--color-6-dark);
            width: fit-content;
            cursor: pointer;
            font-size: 1rem;
        }

        &__options {
            margin-top: 1em;

            &-item {
                display: flex;
                gap: 1em;
                align-items: center;
            }

            &-checkbox {
                border-top: 1px solid var(--libe);
                padding-top: 1.2em;
                padding-bottom: 1.5em;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom: 1px solid var(--libe);

                .product-right__options-title {
                    margin-bottom: 0.4em;
                    width: fit-content;
                    display: block;
                }

                &_item + &_item {
                    margin-top: 0.7em;
                }

                &_item {
                    .product-right__options-title {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }

            &-item + &-item {
                margin-top: 0.7em;
            }

            &-title {
                width: 40%;
                font-size: 1.2rem;
            }

            &-text {
                font-size: 1.1rem;
                cursor: pointer;
            }

            &-check {
                width: 1.5em;
                height: 1.5em;
                background-color: var(--white);
                top: 0.3em;
                margin-right: 0.5em;
            }

            &-check:checked {
                background-size: 0.84em 0.65em;
            }

            &-block {
                width: 60%;
            }
        }

        &__attributes {
            margin-top: 1.5em;

            &--item {
                display: flex;
                gap: 0.5em;
            }

            &--item + &--item {
                margin-top: 0.5em;
            }

            &--title {
                font-size: 1.1rem;
                color: var(--color-6-dark);
            }

            &--description {
                font-size: 1.1rem;
            }
        }

        &__price {
            margin-top: 1.5em;
            display: flex;
            gap: 0.5em;
        }

        &__newPrice {
            font-weight: 600;
            font-size: 2rem;

        }

        &__oldPrice, &__percent {
            color: var(--color-6-dark);
        }

        &__oldPrice {
            text-decoration: line-through;
            position: relative;
            top: 0.12em;
        }

        &__percent {
            padding: 0.05em 0.4em 0;
            border: 1px solid var(--libe);
            border-radius: 0.4em;
            align-self: baseline;
        }

        &__buttons {
            margin-top: 1.5em;
            display: flex;
            --product-gap-2: 1em;
            gap: var(--product-gap-2);
        }

        &__complect {
            margin-top: 1.5em;
            background-color: var(--white);
            border-radius: 0.4em;
            padding: 1.5em;

            &--title {
                font-size: 1.2rem;
                margin-bottom: 1em;
            }

            &--item {

            }

            &--block {
                display: flex;
                align-items: center;
                gap: 0.5em;
                font-size: 1.1rem;
                cursor: pointer;
            }


            &--item + &--item {
                margin-top: 0.5em;
            }

            &--span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid var(--libe);
                width: 1.5em;
                height: 1.5em;
            }

            &--svg {
                width: 1em;
                height: 1em;
                fill: var(--color-4-dark);
                stroke: none;
            }

            &--name {
                font-size: 1.1rem;
            }

            &--number {
                font-size: 0.7rem;
                background-color: var(--bg-light);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 1;
                width: 1.5em;
                height: 1.5em;

            }
        }

        &__add, &__click {
            width: calc(50% - var(--product-gap-2) / 2);
        }

        &__add {
            button {
                width: 100%;
                max-width: none;
            }

            &--block {
                display: flex;

                .inCart {
                    background-color: var(--color-6-dark);
                    width: fit-content;
                    padding-left: 0.9em;
                    padding-right: 0.9em;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &--toCart {
                flex-grow: 1;
                background-color: var(--color-4-dark);
                border-top-left-radius: 0.3em;
                border-bottom-left-radius: 0.3em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h5 {
                    font-size: 1.1rem;
                    color: var(--color-8);
                }

                span {
                    font-size: 0.9rem;
                    color: var(--color-8);
                }
            }
        }

        &__click {
            button {
                width: 100%;
                max-width: none;
                margin-top: 0;
                padding: 1em 1.5em
            }
        }
    }

    &-images {

        &__image {
            width: 100%;
            border-radius: 0.4em;
        }
    }

    &-tabs {
        margin-top: 2.5em;

        &__togglers {
            display: flex;
            gap: 1.5em;
            margin-bottom: 1.5em;
            border-bottom: 1px solid var(--libe);
        }

        &__toggler {
            cursor: pointer;
            font-size: 1.3rem;
            color: var(--color-6-dark);
            font-family: var(--font-main);
            padding-bottom: 0.7em;
            position: relative;
        }

        &__toggler:hover {
            color: var(--color-4-dark);
        }

        &__toggler:hover:after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--color-4-dark);
            margin-top: 0.705em;
        }

        &__toggler.active {
            color: var(--color-4-dark);
        }

        &__toggler.active:after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--color-4-dark);
            margin-top: 0.705em;
        }

        &__box * {
            font-family: var(--font-main) !important;
            font-size: 1rem !important;
            font-weight: 500 !important;
            font-size: 1rem !important;
            color: var(--color-4-dark) !important;
            line-height: 1.4 !important;
        }

        &__box ul {
            padding-left: 1.5em !important;
        }

        &__box li {
            list-style-type: disc !important;
        }
    }

    &-reviews {
        padding: 3em 0;

        &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;
        }

        &__watchAll {
            display: flex;
            gap: 0.7em;
            align-items: center;
            cursor: pointer;
            color: var(--color-6-dark);
            font-size: 1.2rem;

            svg {
                width: 1.2rem;
                height: 1.2rem;
                fill: none;
                stroke: var(--color-6-dark);
                position: relative;
                top: 1px;
            }
        }

        .reviews_site-list {
            height: auto;
        }

        .reviews_site-list_item + .reviews_site-list_item {
            margin-top: 0;
        }

        .dotted {
            display: none;
        }
    }

    &-mayBeInterest {
        padding: 3em 0;

        .section-title {
            margin-bottom: 1em;
        }

        &__list {
            display: grid;
            gap: 0.8em;
            grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));

            h4 {
                text-align: center;
                font-size: 1.3rem;
                margin-top: 0.5em;
            }
        }

        &__link {
            display: block;

            &:hover {
                h4 {
                    color: var(--color-6-dark);
                }
            }
        }

        .zoom-container {
            border-radius: 0.4em;
        }
    }

    &-recentlyViewed {
        padding: 3em 0;

        .section-title {
            margin-bottom: 1em;
        }

        .zoom-container {
            border-radius: 0.4em;
        }
    }

    &-set {
        &__item {
            display: grid;
            grid-template-columns: 0.4fr 2fr 0.2fr;
            gap: 1em;
            padding: 1em 0;
            border-bottom: 1px solid var(--libe);
        }

        &__image img {
            border-radius: 0.4em;
        }

        &__name {
            font-size: 1.1rem;
            color: var(--color-5-dark);
        }

        &__price {
            margin-top: 0.3em;

            .price-new {
                font-weight: 600;
                font-size: 1.1rem;
            }

            .price-old {
                color: var(--color-6-dark);
                margin-left: 0.1em;
                text-decoration: line-through;
                line-height: 1px;
            }
        }

        &__remove {
            &--svg {
                width: 1em;
                height: 1em;
                fill: var(--color-6-dark);
                cursor: pointer;
                display: block;
                margin-left: auto;
            }
        }


    }
}

.sliderProductMain {
    position: relative;

    &-arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        z-index: 2;
        padding: 0 1.5em;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
}

.sliderProductThumbs {
    margin-top: 1em;

    .product-images__item {
        cursor: pointer;
        border-radius: 0.6em;
        overflow: hidden;
        border: 0.3em solid transparent;
    }

    .product-images__item.swiper-slide-thumb-active {
        border: 0.3em solid var(--color-6-dark);
    }
}

.wishlist {
    .modal__box {
        padding: 2.5em 2.5em;
    }

    .product-left {
        width: 45%;
    }

    .product-right {
        width: 55%;
    }

    .modal__close--fixed {
        width: 0.8em;
        height: 0.8em;
    }

    .product-right__info {
        font-size: 0.9rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .product-right__newPrice {
        font-size: 1.7rem;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-second {
        padding: 1em 1.5em;
        font-size: 1rem;
        line-height: 1;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .sliderProductThumbs .product-images__item.swiper-slide-thumb-active {
        border: 0.15em solid var(--color-6-dark);
    }

    .product-right__options-title {
        font-size: 1rem;
    }

    .select__button {
        font-size: 0.9rem;
    }

    .select__list li {
        font-size: 0.9rem;
    }

    .product-right__options-text {
        font-size: 1rem;
    }

    .product-right__delivery {
        width: 100%;
        margin-top: 1em;

        .btn {
            max-width: none;
            width: 100%;
            text-align: center;
        }
    }
}

.set-modal {
    padding: 0;

    .modal__content {
        justify-content: end;
        border-radius: 0;
    }

    .modal__box {
        padding: 2em 3em;
        height: 100vh;
        border-radius: 0;
        max-width: 39em;
    }

    .modal__close {
        top: 3.3em;
        right: 3.5em;
    }
}

.productModalSet {

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 4em);
    }

    &_products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.3em 1em;
        margin-top: 1.2em;
    }

    &_price {
        margin-top: 0.7em;

        .price-new {
            font-weight: 600;
            font-size: 1.1rem;
            color: var(--color-4-dark);
        }

        .price-old {
            color: var(--color-6-dark);
            margin-left: 0.1em;
            text-decoration: line-through;
            line-height: 1px;
        }

        //.price-percent {
        //    color: var(--color-6-dark);
        //    border: 1px solid var(--color-6-dark);
        //    border-radius: 0.4em;
        //}
    }

    &_title {
        font-size: 1.1rem;
        color: var(--color-5-dark);
        margin-top: 0.3em;
    }

    &_change {
        display: flex;
        align-items: center;
        gap: 0.3em;
        width: fit-content;
        border-radius: 0.4em;
        border: 1px solid var(--libe);
        padding: 0.3em 0.5em;
        margin-top: 0.4em;
    }

    &_set {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_set svg {
        width: 1em;
        height: 1em;
        fill: var(--color-4-dark);
        cursor: pointer;
    }

    &_set svg:hover {
        fill: black;
    }


    &_input {
        color: var(--color-5-dark);
        width: 1.5em;
        text-align: center;
    }

    &_btn {
        margin-top: 2em;
        max-width: none;
        width: 100%;
        text-align: center;
    }
}

.product-size-table-modal {
    .modal__box {
        max-width: 40em;
    }

    .section-title {
        text-align: center;
    }
}

.productSizeTable {
    &_table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid var(--libe);
        border-bottom: none;
        margin-top: 1.5em;
    }

    &-item {
        padding: 0.6em 0.8em;
        text-align: center;
        border-bottom: 1px solid var(--libe);
        border-left: 1px solid var(--libe);
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--text);
    }

    &-item.left {
        text-align: left;
        border-left: none;
    }

    &_link {
        display: block;
        color: var(--color-6-dark);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        font-size: 1.1rem;
        cursor: pointer;
    }
}

.product-tabs.mobile {
    display: none;
}

.product-reviews__link {
    display: none;
    border: 1px solid var(--libe);
    border-radius: 0.4em;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    font-size: 1.1rem;
    color: var(--color-6-dark);
    gap: 0.8em;
    margin-top: 1.5em;

    svg {
        width: 1.1em;
        height: 1.1em;
        stroke: var(--color-6-dark);
        fill: none;
    }
}

.product-right {
    .colorPoint {
        margin-top: 1em;
    }
}


@media screen and (max-width: 600px) {
    .product {
        display: block;
    }
    .product-left, .product-right {
        width: 100%;
    }
    .sliderProductThumbs .product-images__item.swiper-slide-thumb-active {
        border: 0.2em solid var(--color-6-dark);
    }
    .sliderProductMain .sliderProductMain-arrows {
        display: none;
    }
    .product-tabs {
        display: none;
    }
    .product-tabs.mobile {
        display: block;
    }
    .product-right {
        margin-top: 1.2em;
    }

    .product-right__options-item {
        display: block;
    }
    .product-right__options-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.3em;
    }
    .product-right__options-block {
        width: 100%;
    }
    .select-product .select__box-btn svg {
        transform: rotate(0);
    }
    .product-right__sizeTable {
        color: var(--color-6-dark);
        border-bottom: 1px dashed var(--color-6-dark);
    }
    .product-right__buttons {
        display: block;
    }
    .product-right__add, .product-right__click {
        width: 100%;
    }
    .product-right__click {
        margin-top: 1em;
    }
    .product {
        padding-bottom: 1em;
    }
    .fabric-samples-inner_block-title {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }
    .fabric-samples-inner {
        padding: 1em 1.5em;
    }
    .products_grid-price .price-percent {
        display: none;
    }
    .product-reviews__watchAll {
        display: none;
    }
    .product-reviews__link {
        display: flex;
    }
    .product-mayBeInterest__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-recentlyViewed {
        padding-bottom: 0;
    }
    .product-mayBeInterest {
        margin-top: 0;
        padding-top: 2em;
    }
    .product-reviews .dotted {
        display: flex;
    }
    .product-right__options-item {
        .select__list {
            display: none;
        }
    }
}