.search {
    padding-bottom: 6em;

    h1 {
        margin-bottom: 1em;
    }

    &-input {
        position: relative;

        &__input {
            padding: 0.7em 1.5em;
            width: 100%;
            max-width: none;
            padding-left: 3em;
            background-color: var(--white);
            font-size: 1.1rem;
        }

        &__svg {
            position: absolute;
            top: 0.9em;
            left: 1.4em;
            width: 1.3em;
            height: 1.3em;
            fill: none;
            stroke: var(--color-6-dark);
        }

        &__btn {
            position: absolute;
            top: 1.1em;
            right: 4.4em;
            fill: none;
            stroke: var(--color-6-dark);
            cursor: pointer;
            font-size: 0.8rem;
            padding: 0.3em 1em;
        }

        &__close {
            position: absolute;
            top: 0.9em;
            right: 1.4em;
            width: 1.3em;
            height: 1.3em;
            fill: var(--color-6-dark);
            cursor: pointer;
        }

        &__text {
            margin-top: 0.3em;
            font-size: 1.1rem;
            color: var(--color-6-dark);
        }
    }

    &-block {
        margin-top: 4em;
    }

    &-grid {
        margin-top: 1em;
    }

    &-modal {
        background-color: var(--white);
        padding-bottom: 3em;
        overflow-y: auto;
        height: 100%;

        &__inner {
            margin-bottom: 6em;
        }

        &__block {
            display: none;
            margin-top: 1em;

            &--title {
                font-size: 1.5rem;
            }

            &--cross {
                width: 2em;
                height: 2em;
                stroke: none;
                fill: var(--color-6-dark);
                cursor: pointer;
                border: 1px solid var(--libe);
                border-radius: 50%;
                padding: 0.3em;
            }
        }

        &__inlet {
            position: relative;
            padding-top: 1.5em;
        }

        &__input {
            width: 100%;
            padding: 0.8em 2em;
            border-bottom: 1px solid var(--libe);
            font-family: var(--font-main);
            font-size: 1rem;
        }

        &__input::placeholder {
            color: var(--color-6-dark);
        }

        &__svg {
            position: absolute;
            left: 0.1em;
            bottom: 1em;
            width: 1.2rem;
            height: 1.2rem;
            fill: none;
            stroke: var(--color-6-dark);
        }

        &__close {
            position: absolute;
            bottom: 1em;
            right: 1.4em;
            width: 1.2em;
            height: 1.2em;
            fill: var(--color-6-dark);
            cursor: pointer;
        }

        &__tips {
            margin-top: 1em;
        }

        &__recomended {
            margin-top: 3em;

            &--block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5em;
            }

            &--arrows {
                display: flex;
                align-items: center;
                gap: 1.5em;
            }

            &--prev, &--next {
                width: 1.5em;
                height: 1.5em;
            }

            &--svg {
                cursor: pointer;
                width: 1.5em;
                height: 1.5em;
                fill: none;
                stroke: var(--text);
                background-color: transparent;
            }

            &--prev {
                transform: rotate(180deg);
            }

            .search-modal__recomended--prev, .search-modal__recomended--next {
                background-color: transparent;
            }

            .zoom-container {
                border-radius: 0.4em;
            }
        }
    }

    &-quickTips {

        &__products {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1em;
        }

        &__price {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0.3em;
        }

        &__title {
            margin-top: 0.3em;
            color: var(--color-5-dark);
            line-height: 1.4;
        }
    }
}

@media screen and (max-width: 600px) {
    .search-quickTips__products {
        display: block;
    }
    .search-quickTips__product {
        padding: 1em 0;
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        gap: 1em;
    }
    .search-quickTips__product + .search-quickTips__product {
        border-top: 1px solid var(--libe);
    }
    .search-modal__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
